*{
    margin: 0;
    padding: 0;
}


header {
    background-color: #6C4390;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 15px;
}

header a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover{
margin: 5px
}

header ul {
    display:flex ;
    list-style: none;
}

header li {
  margin: 5px;

}